{% extends "base.html" %}
{% load icon %}

{% block title %}
    Request Detail
{% endblock title %}


{% block content %}
<main class='flex flex-col h-screen p-4 gap-2'>
    <h1 class='text-xl font-bold flex justify-between items-center w-full'>
        Requested Equipment
        <a href="{% url 'fix-request' pk=request.pk %}"><button>Mark as Done</button></a>
    </h1>
    <section class='bg-gray-300 rounded-xl p-2 w-full flex-grow flex flex-col items-center gap-2'>
        {% for eq in request.equipment.all %}
            <div class='border rounded-xl w-full p-2 bg-white'>
                <header class='flex justify-between items-center px-2'>
                    <div class='flex justify-between items-center gap-2'>
                        <span>SN: {{ eq.serial_number }}</span>
                        <span>Model: {{ eq.model.name }}</span>
                    </div>
                </header>
                <p class='m-0 p-2'>
                    {{ eq.description }}
                </p>
            </div> 
        {% empty %}
            {% icon 'slash' width='125' height='125' %}
            <p>No Equipment</p>
        {% endfor %}
    </section>
</main>
{% endblock content %}